In [1]:
import pandas as pd
data = pd.read_csv(r'C:\Users\Mahe\Downloads\data4.csv')
data

    1  1.1  1.2  1.3  1.4  1.5  0  1.6  1.7
0   1    1    1    1    1    1  0    0    1
1   1    1    1    1    1    1  1    1    0
2   1    1    1    1    1    0  0    1    1
3   1    1    1    1    1    0  0    0    1
4   1    1    1    0    1    1  0    1    1
5   1    1    0    1    1    1  0    1    0
6   1    1    1    0    1    1  0    0    1
7   1    1    1    0    1    0  0    1    1
8   1    1    1    0    1    0  0    0    1
9   0    1    1    1    1    1  0    1    1
10  0    1    1    1    1    1  0    0    1
11  1    0    1    1    1    1  0    1    0
12  0    1    1    1    1    0  0    1    1
13  1    1    0    1    0    1  0    1    0
14  1    0    0    1    1    1  0    1    0
15  1    0    0    1    0    1  1    1    0
16  0    1    1    1    1    0  0    0    1
17  1    0    1    1    1    1  1    1    0
18  0    1    1    0    1    1  0    1    1

In [2]:
# REINDEXING THE DATASET IN THE CORRECT ORDER TO MATCH WITH THE TRAIN DATA
data = data.reindex_axis(['0', '1', '1.1', '1.2', '1.3', '1.4', '1.5', '1.6', '1.7'],axis = 1)
data

C:\Users\Mahe\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: '.reindex_axis' is deprecated and will be removed in a future version. Use '.reindex' instead.
  """Entry point for launching an IPython kernel.

    0  1  1.1  1.2  1.3  1.4  1.5  1.6  1.7
0   0  1    1    1    1    1    1    0    1
1   1  1    1    1    1    1    1    1    0
2   0  1    1    1    1    1    0    1    1
3   0  1    1    1    1    1    0    0    1
4   0  1    1    1    0    1    1    1    1
5   0  1    1    0    1    1    1    1    0
6   0  1    1    1    0    1    1    0    1
7   0  1    1    1    0    1    0    1    1
8   0  1    1    1    0    1    0    0    1
9   0  0    1    1    1    1    1    1    1
10  0  0    1    1    1    1    1    0    1
11  0  1    0    1    1    1    1    1    0
12  0  0    1    1    1    1    0    1    1
13  0  1    1    0    1    0    1    1    0
14  0  1    0    0    1    1    1    1    0
15  1  1    0    0    1    0    1    1    0
16  0  0    1    1    1    1    0    0    1
17  1  1    0    1    1    1    1    1    0
18  0  0    1    1    0    1    1    1    1

In [3]:
data.shape

(19, 9)

In [4]:
#RENAMING THE COLUMNS AS F1 - FEATURE 1 AND SO ON AND LAST COLUMN IS NAMED AS CLASS
data.columns = ['F1','F2','F3','F4','F5','F6','F7','F8','Class']
data

    F1  F2  F3  F4  F5  F6  F7  F8  Class
0    0   1   1   1   1   1   1   0      1
1    1   1   1   1   1   1   1   1      0
2    0   1   1   1   1   1   0   1      1
3    0   1   1   1   1   1   0   0      1
4    0   1   1   1   0   1   1   1      1
5    0   1   1   0   1   1   1   1      0
6    0   1   1   1   0   1   1   0      1
7    0   1   1   1   0   1   0   1      1
8    0   1   1   1   0   1   0   0      1
9    0   0   1   1   1   1   1   1      1
10   0   0   1   1   1   1   1   0      1
11   0   1   0   1   1   1   1   1      0
12   0   0   1   1   1   1   0   1      1
13   0   1   1   0   1   0   1   1      0
14   0   1   0   0   1   1   1   1      0
15   1   1   0   0   1   0   1   1      0
16   0   0   1   1   1   1   0   0      1
17   1   1   0   1   1   1   1   1      0
18   0   0   1   1   0   1   1   1      1

In [6]:
# EUCLIDEAN DISTANCE FORMULA FUNCTION  
import math
def euclidean_distance(first_object, second_object):
    distance = 0
    num_of_features = len(first_object)
    for f in range(num_of_features):
        distance += pow((first_object[f] - second_object[f]), 2)
    return math.sqrt(distance)

In [7]:
# GETTING K-NEAREST NEIGHBOUR FUNCTION 
import numpy as np
def get_nearest_neighbours(train_features, focus_object, k):
    distances = []
    num_of_features = len(focus_object)
    for train_object in train_features.values:
        distance = euclidean_distance(train_object, focus_object)
        distances.append(distance)
    return np.argsort(distances)[:k] # WILL RETURN ARG VALUE OF TOP 5 NEAREST NEIGHBOUR

In [8]:
# FUNCTION TO GET THE MAJORITY CLASS IN K-NEAREST NEIGHBOURS
def get_majority_class(k_nearest_neighbours):
    votes = {}
    for neighbour in k_nearest_neighbours:
        neighbour_class = train_classes.iloc[neighbour]
        if neighbour_class in votes:
            votes[neighbour_class] += 1
        else:
            votes[neighbour_class] = 1      
    votes = sorted(votes, reverse = True)
    return votes[0]

In [11]:
# FUNCTION TO SPLIT DATAFRAME INTO CLASSES AND FEATURES
def split_features_classes(dataframe):
    features = dataframe.iloc[:, :-1]
    classes = dataframe.iloc[:, -1]
    return features, classes

In [12]:
test = pd.read_csv(r'C:\Users\Mahe\Downloads\test4.csv')
test

   0  1  1.1  1.2  1.3  1.4  1.5  1.6
0  1  0    0    0    0    0    0    0
1  0  1    1    0    1    0    0    0
2  0  1    1    1    1    0    0    0

In [13]:
# RENAMING TEST COLUMNS
test.columns = ['F1','F2','F3','F4','F5','F6','F7','F8']
test

   F1  F2  F3  F4  F5  F6  F7  F8
0   1   0   0   0   0   0   0   0
1   0   1   1   0   1   0   0   0
2   0   1   1   1   1   0   0   0

In [14]:
#SPLITTING TRAIN DATA
train_features, train_classes = split_features_classes(data)

In [15]:
train_features

    F1  F2  F3  F4  F5  F6  F7  F8
0    0   1   1   1   1   1   1   0
1    1   1   1   1   1   1   1   1
2    0   1   1   1   1   1   0   1
3    0   1   1   1   1   1   0   0
4    0   1   1   1   0   1   1   1
5    0   1   1   0   1   1   1   1
6    0   1   1   1   0   1   1   0
7    0   1   1   1   0   1   0   1
8    0   1   1   1   0   1   0   0
9    0   0   1   1   1   1   1   1
10   0   0   1   1   1   1   1   0
11   0   1   0   1   1   1   1   1
12   0   0   1   1   1   1   0   1
13   0   1   1   0   1   0   1   1
14   0   1   0   0   1   1   1   1
15   1   1   0   0   1   0   1   1
16   0   0   1   1   1   1   0   0
17   1   1   0   1   1   1   1   1
18   0   0   1   1   0   1   1   1

In [16]:
train_classes

0     1
1     0
2     1
3     1
4     1
5     0
6     1
7     1
8     1
9     1
10    1
11    0
12    1
13    0
14    0
15    0
16    1
17    0
18    1
Name: Class, dtype: int64

In [17]:
num_test_samples = len(test) 
predicted_classes = []
for i in range(num_test_samples):
    test_object = test.iloc[i] #TAKING ONE TEST INSTANCE
    k_nearest_neighbours = get_nearest_neighbours(train_features, test_object,5) #GETTING K=5 NEAREST NEIGHBOUR
    predicted_class = get_majority_class(k_nearest_neighbours) #GETTING THE PREDICTED CLASS
    predicted_classes.append(predicted_class) #CREATING A LIST OF PREDICTED TEST CLASSES

In [18]:
predicted_classes

[1, 1, 1]

# PRINTING THE OUTPUT IN A FILE

In [19]:
with open('aman_kumar_4.out', 'w') as f:
    for i in range(num_test_samples):
        print('Test instance',i+1,":",predicted_classes[i], file=f)

In [20]:
x = open('aman_kumar_4.out')
print(x.read())

Test instance 1 : 1
Test instance 2 : 1
Test instance 3 : 1