In [1]:
import pandas as pd
data = pd.read_csv(r'C:\Users\Mahe\Downloads\data3.csv')
data

    1  1.1  1.2  1.3  1.4  1.5  0  1.6  1.7
0   1    1    1    1    1    1  0    0    1
1   1    1    1    1    1    1  1    1    0
2   1    1    1    1    1    0  0    1    1
3   1    1    1    1    1    0  0    0    1
4   1    1    1    0    1    1  0    1    1
5   1    1    0    1    1    1  0    1    0
6   1    1    1    0    1    1  0    0    1
7   1    1    1    0    1    0  0    1    1
8   1    1    1    0    1    0  0    0    1
9   0    1    1    1    1    1  0    1    1
10  0    1    1    1    1    1  0    0    1
11  1    0    1    1    1    1  0    1    0
12  0    1    1    1    1    0  0    1    1
13  1    1    0    1    0    1  0    1    0
14  1    0    0    1    1    1  0    1    0
15  1    0    0    1    0    1  1    1    0
16  0    1    1    1    1    0  0    0    1
17  1    0    1    1    1    1  1    1    0
18  0    1    1    0    1    1  0    1    1

In [2]:
#RENAMING THE COLUMNS AS F1 - FEATURE 1 AND SO ON AND LAST COLUMN IS NAMED AS CLASS
data.columns = ['F1','F2','F3','F4','F5','F6','F7','F8','Class']
data

    F1  F2  F3  F4  F5  F6  F7  F8  Class
0    1   1   1   1   1   1   0   0      1
1    1   1   1   1   1   1   1   1      0
2    1   1   1   1   1   0   0   1      1
3    1   1   1   1   1   0   0   0      1
4    1   1   1   0   1   1   0   1      1
5    1   1   0   1   1   1   0   1      0
6    1   1   1   0   1   1   0   0      1
7    1   1   1   0   1   0   0   1      1
8    1   1   1   0   1   0   0   0      1
9    0   1   1   1   1   1   0   1      1
10   0   1   1   1   1   1   0   0      1
11   1   0   1   1   1   1   0   1      0
12   0   1   1   1   1   0   0   1      1
13   1   1   0   1   0   1   0   1      0
14   1   0   0   1   1   1   0   1      0
15   1   0   0   1   0   1   1   1      0
16   0   1   1   1   1   0   0   0      1
17   1   0   1   1   1   1   1   1      0
18   0   1   1   0   1   1   0   1      1

In [3]:
# no of classes
num_classes = len(data['Class'].unique())
num_classes

2

In [4]:
grouped_data = data.groupby('Class')

In [22]:
class_summary_1 = [] # CONDITIONAL PROBABILITIES OF EACH FEATURE FOR CLASS 0
class_summary_2 = [] # CONDITIONAL PROBABILITIES OF EACH FEATURE FOR CLASS 1
for feature in data.iloc[:,:-1]:
    Prob1= ((grouped_data.get_group(0)[feature] == 0).sum()+1)/((data['Class'] == 0).sum()+2) #Laplace smoothing with alpha=1
    Prob2= ((grouped_data.get_group(0)[feature] == 1).sum()+1)/((data['Class'] == 0).sum()+2) #Laplace smoothing with alpha=1
    Prob3= ((grouped_data.get_group(1)[feature] == 0).sum()+1)/((data['Class'] == 1).sum()+2) #Laplace smoothing with alpha=1
    Prob4= ((grouped_data.get_group(1)[feature] == 1).sum()+1)/((data['Class'] == 1).sum()+2) #Laplace smoothing with alpha=1
    class_summary_1.append([Prob1,Prob2])
    class_summary_2.append([Prob3,Prob4])

In [23]:
class_summary_1

[[0.1111111111111111, 0.8888888888888888],
 [0.5555555555555556, 0.4444444444444444],
 [0.5555555555555556, 0.4444444444444444],
 [0.1111111111111111, 0.8888888888888888],
 [0.3333333333333333, 0.6666666666666666],
 [0.1111111111111111, 0.8888888888888888],
 [0.5555555555555556, 0.4444444444444444],
 [0.1111111111111111, 0.8888888888888888]]

In [24]:
class_summary_2

[[0.42857142857142855, 0.5714285714285714],
 [0.07142857142857142, 0.9285714285714286],
 [0.07142857142857142, 0.9285714285714286],
 [0.42857142857142855, 0.5714285714285714],
 [0.07142857142857142, 0.9285714285714286],
 [0.5, 0.5],
 [0.9285714285714286, 0.07142857142857142],
 [0.5, 0.5]]

In [17]:
# POSTERIOR PROBABILITY FUNCTION IF CLASS IS ZERO
import numpy as np
def posterior_probability_class_zero(sample,summary1):
    prob = 1
    for i, feature in enumerate(sample):
        prob*= summary1[i][feature]
    prob*= priori_zero
    return prob

In [10]:
# POSTERIOR PROBABILITY FUNCTION IF CLASS IS ONE
def posterior_probability_class_one(sample,summary2):
    prob = 1
    for i, feature in enumerate(sample):
        prob*= summary2[i][feature]
    prob*= priori_one
    return prob

In [11]:
def predict(probabilities): # return class with max probability
    return np.argmax(probabilities)

In [12]:
# GIVES THE PRIOR PROBABILITIES OF BOTH CLASSES FROM TRAINING SET
def prior(num):
    prior = len(grouped_data.get_group(num))/(len(data['Class']))
    return prior

In [13]:
#TAKING OUT PRIORS OF BOTH THE CLASSES
priori_zero = prior(0)
priori_one = prior(1)

In [14]:
test_data = pd.read_csv(r'C:\Users\Mahe\Downloads\test3.csv')
test_data

   0  1  1.1  1.2  1.3  1.4  1.5  1.6
0  1  0    0    0    0    0    0    0
1  0  1    1    0    1    0    0    0
2  0  1    1    1    1    0    0    0

In [15]:
test_data.columns = ['F1','F2','F3','F4','F5','F6','F7','F8']
test_data

   F1  F2  F3  F4  F5  F6  F7  F8
0   1   0   0   0   0   0   0   0
1   0   1   1   0   1   0   0   0
2   0   1   1   1   1   0   0   0

In [18]:
predicted_classes = []
num_test_samples = len(test_data)
for i in range(num_test_samples):
    probabilities = []
    sample = test_data.iloc[i] # takes a single test instance
    posterior_zero = posterior_probability_class_zero(sample,class_summary_1) #gets the probability of test instance for class zero
    probabilities.append(posterior_zero)
    posterior_one = posterior_probability_class_one(sample,class_summary_2) #gets the probability of test instance for class one
    probabilities.append(posterior_one)
    prediction = predict(probabilities) # gives out the class which has maximum probability for given test instance
    predicted_classes.append(prediction)

In [19]:
predicted_classes

[0, 1, 1]

# PRINTING THE OUTPUT IN A FILE

In [20]:
with open('aman_kumar_3.out', 'w') as f:
    for i in range(num_test_samples):
        print('Test instance',i+1,":",predicted_classes[i], file=f)

In [21]:
x = open('aman_kumar_3.out')
print(x.read())

Test instance 1 : 0
Test instance 2 : 1
Test instance 3 : 1